.chart-container {
    display:flex;
    justify-content: space-evenly;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin: 0 auto;
 }

.first-portfolio-page {
    background-image: url('../../assets/portfolio_one.jpg');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85vh;
    width: 100vw;
}

.first-portfolio-page-text {
    right: 20px;
}

.first-portfolio-button {
    align-items: center;
    justify-content: center;
}

.second-portfolio-page {
    background-color:white;
    color:black;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 85vh;
    width: 100vw;
}

.second-portfolio-page-text {
    width:400px;
    height:400px;
}

.second-portfolio-page-image {
    background-image: url('../../assets/portfolio_two_image.jpg');
    width:400px;
    height:400px;
    background-size: cover;
    border-radius:25px;
}

.third-portfolio-page {
    background-color:white;
    color:black;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 85vh;
    width: 100vw;
}

.third-portfolio-page-text {
    width:400px;
    height:400px;
}

.third-portfolio-page-image {
    background-image: url('../../assets/portfolio_three_image.jpg');
    width:400px;
    height:400px;
    background-size: cover;
    border-radius:25px;
}

.bottom-footer-padding {
    height: 8vh;
    width: 100vw;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.hide-loader{
display:none;
}

/* CSS */
.button-64 {
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.button-64:active,
.button-64:hover {
  outline: 0;
}

.button-64 span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.button-64:hover span {
  background: none;
}

@media (min-width: 768px) {
  .button-64 {
    font-size: 24px;
    min-width: 196px;
  }
}